:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s ease all;
}

a{
  text-decoration: none;
  color:black;
}

.container{
  width: 1300px;
  margin: 0 auto;
}

.center{
  display: flex;
  justify-content: center;
}

button{
  background: none;
  border:none;
  background-color:transparent;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.mt110{
  margin-top: 110px;
}

.section {
  width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
}

.b{
  width: 1440px;
  margin: 0 auto;
  background: transparent;
}

section{
  width: 1440px;
  margin: 0 auto;
}

.ad{
  margin: 50px;
  display: flex;
  justify-content: space-between;
}
.avc{
  display: flex;
  justify-content: space-between;
}
.section111{
  width: 1440px;
  margin: 0 auto;
  margin-top: 30px;
}